# Big Query

In [1]:
# Importamos
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd

In [2]:
!ls ~/.creds

trim-heaven-301811-7b40bce8b0f8.json

In [3]:
# creamos las variables de entorno
creds = service_account.Credentials.from_service_account_file("/Users/victoriasofia93/.creds/trim-heaven-301811-7b40bce8b0f8.json")

In [4]:
proj_id = "trim-heaven-301811"

In [5]:
# Llamamos la funciÃ³n Client
client = bigquery.Client(project=proj_id, credentials=creds)

In [6]:
query_nacimientos = ("""
SELECT 
    state AS estado,
    SUM(CASE WHEN year >= 1970 AND year < 1980 THEN plurality ELSE 0 END) AS B70,
    SUM(CASE WHEN year >= 1980 AND year < 1990 THEN plurality ELSE 0 END) AS B80,
    SUM(CASE WHEN year >= 1990 AND year < 2000 THEN plurality ELSE 0 END) AS B90,
    SUM(CASE WHEN year >= 2000 AND year <=2010 THEN plurality  ELSE 0 END ) AS B00,
    SUM(IF(is_male = TRUE, 1, 0)) AS Male,
    SUM(IF(is_male = FALSE, 1, 0)) AS Female,
    ROUND(AVG(weight_pounds * 0.453592),3) AS Weight
    

FROM `bigquery-public-data.samples.natality`
WHERE 
    NOT IS_NAN(plurality) AND plurality >1 AND state is NOT NULL 
GROUP BY 
    1
ORDER BY 
    1

""")

In [7]:
query_job_nacimientos = client.query(query_nacimientos)

In [8]:
query_job_nacimientos.state

'RUNNING'

In [9]:
df_1 = query_job_nacimientos.to_dataframe()
df_1

/opt/anaconda3/lib/python3.7/site-packages/google/cloud/bigquery/client.py:448: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

   estado    B70     B80     B90     B00    Male  Female  Weight
0      AK   1529    4529    4971    2714    3391    3396   2.464
1      AL  14866   26254   33540   21033   23479   23407   2.277
2      AR   5703   14453   16504   10678   11598   11751   2.318
3      AZ   6523   17201   36109   25765   20775   20761   2.346
4      CA  56624  147762  274371  159740  156282  157163   2.405
5      CO  12704   23079   32601   22479   22324   22024   2.292
6      CT   6887   19684   30100   18537   18463   18173   2.384
7      DC   4105    7863   12071    6088    7373    7232   2.258
8      DE   1517    3398    7047    4769    4082    4052   2.302
9      FL  35721   67570  101555   65804   66529   66131   2.324
10     GA  14105   31195   62185   44634   37509   37113   2.298
11     HI   2728    6861    8141    5025    5438    5708   2.357
12     IA  12318   16850   20552   12578   15456   15080   2.432
13     ID   3353    6754    7617    6116    5871    5893   2.439
14     IL  54274   82399  109431   67318   76938   75949   2.350
15     IN  17700   35039   45554   29408   31038   31229   2.363
16     KS   9439   15872   18728   12359   13966   13746   2.366
17     KY  14359   21149   25976   17372   19535   19192   2.344
18     LA  21035   35766   37086   21762   28713   28151   2.265
19     MA  16547   36487   58530   39061   36887   36410   2.408
20     MD  12803   26584   40107   27492   26122   26119   2.339
21     ME   4506    6193    8076    4632    5784    5740   2.435
22     MI  44665   62224   81500   47664   58288   57173   2.346
23     MN  14967   28263   37706   25120   25919   25775   2.424
24     MO  25039   34825   45850   28357   32753   32995   2.322
25     MS   9387   19577   21223   13200   15730   15554   2.281
26     MT   3678    5196    5052    3493    4328    4267   2.428
27     NC  22560   39162   58243   40127   39352   39175   2.284
28     ND   1821    4373    5784    3242    3776    3625   2.397
29     NE   7277   12034   15101    9573   10710   10614   2.361
30     NH   3699    6174    7534    4925    5614    5366   2.487
31     NJ  18583   43139   73119   48455   44384   44599   2.365
32     NM   2880    7833   11259    6312    6972    6992   2.357
33     NV   2598    6386   12585    9980    7707    7748   2.306
34     NY  69364  117076  167542   99497  111583  109968   2.371
35     OH  38654   71705   92355   55657   63514   62471   2.358
36     OK  11305   21504   22225   13831   17085   16823   2.356
37     OR  10466   18117   23200   14763   16373   16312   2.441
38     PA  28736   71515   90686   51544   59655   58848   2.355
39     RI   4148    5959    9093    6028    6181    6120   2.356
40     SC  14136   21814   27763   17073   20091   19669   2.292
41     SD   1897    5042    6175    3930    4181    4185   2.396
42     TN  18556   31035   43236   28085   29623   29762   2.260
43     TX  58549  124826  160076  109302  111357  110908   2.334
44     UT   7307   16772   20597   14146   14676   14126   2.371
45     VA  18236   35158   49755   33618   33623   33630   2.341
46     VT   2081    3163    3612    1958    2729    2612   2.381
47     WA  11431   29364   37868   23735   25193   25165   2.455
48     WI  18640   31430   36660   21630   26705   26456   2.425
49     WV   6873   10023   10711    6245    8479    8203   2.323
50     WY   1306    3064    2412    1296    1979    2040   2.465